:root {
    /*--main-color: #00698f;*/
    --main-color: #14ABE0;
    --highlight-color: #FAA71B;
}

body {
    font-family: 'Ubuntu', 'Arial', 'sans-serif';
    padding-left: 5%;
    padding-right: 5%;
    font-size: 10pt;
    max-width: 867px;
    margin: auto;
    margin-top: 5px;
}

header {
    background: var(--main-color);
    border: solid 1px var(--main-color);
}

h2:hover {
    cursor: pointer;
}

ul {
    padding-left: 0;
    list-style: none;
}

.icons {
    color: var(--main-color);
}

#address p {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: black;
}

.bullet-point {
    margin: 3px 7px 0 0;
    width: 6px;
    height: 6px;
    background: radial-gradient(white, var(--main-color));
    float: left;
    border: solid 1px var(--main-color);
}

p {
    margin: 0;
}

b {
    font-size: 14pt;
    font-weight: normal;
}

#skill-list li {
    list-style: none;
    background: var(--main-color);
    border-radius: 5px;
    display: inline-block;
    color: white;
    padding: 4px 8px;
    margin: 10px 4px 10px 0;
    font-size: 10pt;
    font-weight: bold;
    border: solid 1px var(--main-color);
}

main li {
    margin: .5em 0;
    font-size: 10pt;
}

#language-list li {
    list-style: none;
    border-radius: 5px;
    display: inline-block;
    padding: 4px 6px;
    margin: 5px 3px 5px 0;
    font-size: 10pt;
    justify-content: space-between;
    display: flex;
}

#interest-list li {
    list-style: none;
    border-radius: 5px;
    border: 1px solid #c1c1c1;
    padding: 4px 6px;
    margin: 5px 2px 5px 0;
    font-size: 10pt;
    justify-content: space-between;
    display: flex;
}

.rating {
    text-align: right;
    color: var(--main-color);
    font-size: 11pt;
    margin-top: -2px;
}

h1 {
    color: white;
    padding: 10px 10px 0 10px;
    margin: 0;
}

header h3 {
    color: white;
    padding: 4px 10px 10px 10px;
    margin: 0;
    font-weight: normal;
}

h2,
h3,
h4 {
    color: var(--main-color);
    margin-bottom: 0;
}

hr {
    color: var(--highlight-color);
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    margin-top: 0;
}
@media screen and (max-width: 619px) {
    #container {
        display: block;
    }

    #sub-text {
        width: 100%;
    }

    #main-2 {
        width: 100%;
    }
}
@media screen and (min-width: 620px) {
    #small-show {
        display: none;
    }

    #container {
        display: flex;
        flex-direction: row-reverse;

    }

    #sub-text {
        flex: 0 0 30%;
        margin-right: 5%;
        max-width: 25%;
    }

    #main-2 {
        flex: 0 0 70%;
        max-width: 70%;
    }
}
.emphasize {
    color: var(--highlight-color);
    font-style: italic;
    margin: 5px 0;
}

#projects p {
    font-size: 12pt;
    margin-bottom: 0;
}