@media screen and (min-width: 800px) {
    #work-samples div, #skills *, #about-me * {
        max-width: 60vw;
        margin: auto;
    }
}

main {
    width: 100%;
}

header {
    width: 100%;
    text-align: center;
    margin-top: 0;
    height: 35vh;
    padding-top: 10vh;
}

nav {
    height: 7vh;
    font-weight: bold;
}

#work-samples {
    margin: 2vh 0 0 2vw;
}

#about-me {
    margin: 2vh 0 0 2vw;
    padding-bottom: 4vh;
}

.img-div {
    margin: 1vh 1vw 2vh 0;
}

#skills {
    padding: 2vh 0 2vh 2vw;
}

#work-samples h2, #work-samples h3{
    margin-bottom: 2vh;
}

.sample {
    margin-bottom: 5vh;
}